<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4">
<div class="card">
  <div class="thumbnail">Results</div>
  <div class="left">
  <br><br>
    <h4>Games: <%= "Copenhagen Challenger 1" %> </h4>
    <h4>Date: <%= "27.05.2017" %></h4>
    <h4>Type: <%= "competitive" %></h4>
    <h4>Achievement: <%= "3rd place at elite level" %></h4>
    <h4>Description: <%= "fun games" %></h4>
    </div>

  </div>
  </div>
  <div class="fab"><i class="fa fa-arrow-down fa-3x"> </i></div>
</div>
  </div>
  </div>
</div>
