<div class="container bb-container">
  <br>

  <div class="row">
    <div class="col-xs-8">
      <%= render 'main_description' %>
      <%= render 'rankings' %>
      <%= render 'results' %>
      <%= render 'photos' %>
      <%= render 'videos' %>
    </div>

    <div class="col-xs-4">
      <%= render 'secundary_show_column' %>
    </div>
  </div>

</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @mapped_user.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  </script>
<% end %>
